body {
  background-color: #5dacbd;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 38px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #e0ebeb;
  padding: 30px;
  box-shadow: 10px 5px 5px #24527a;
  border-radius: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}
.city :last-child {
  border: none;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

.date {
  opacity: 0.7;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
